doctype html
html(lang="ko")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title WebRTC_Practice
        script(src="https://cdn.tailwindcss.com")
    body
        //h1(class="text-2xl font-bold") Message
        header(class="container bg-blue-400 max-w-xl mx-auto text-white p-6")
            div()
                h1(class="text-3xl text-center") 헤더입니다.
        main(class="mt-40")
            div#enter
                form(class="container max-w-md border border-gray-300 shadow-md p-6 mx-auto rounded flex space-x-4 justify-between mb-8")
                    input(class="border rounded border-gray-300 shadow-lg py-3 px-4 w-full" , type="text", placeholder="채팅방 이름을 입력하세요.", required)
                    button(class="bg-blue-400 border rounded py-2 px-4 text-white hover:bg-blue-600 transition duration-500 text-xl whitespace-nowrap") 입장
            div#room(class="container max-w-md border mx-auto rounded shadow-md p-6")
                h3(class="text-2xl font-bold mb-4")
                ul
                form(class="border-gray-300    flex space-x-4 justify-between mb-8")
                    input(class="border rounded border-gray-300 shadow-lg py-3 px-4 w-full" , type="text", placeholder="메세지를 입력하세요.", required)
                    button(class="bg-blue-400 border rounded py-2 px-4 text-white hover:bg-blue-600 transition duration-500 text-xl whitespace-nowrap") 전송
        script(src="/socket.io/socket.io.js")
        script(src="/public/js/app.js")
